{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body style="background-color:#0DCAF0">
<div class="mask d-flex align-items-center h-200 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100  ">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 7px; shadow-lg">
            <div class="card-body p-5 shadow-lg">
              <h3 class="text-center mb-5 display-6">Add Acadamics</h3>
                    <form  method="POST">
                        <h2 class="text-dark page-header text-center fw-normal"><i class="fa fa-user">&nbsp;</i>Registration</h2>
                        <br>
                        <h5 class="text-center fw-normal form-control mb-3">{{form|crispy}}</h5>
                        <br>
                        {% csrf_token %}
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <input class="btn btn-primary btn-md shadow-lg" type="submit" value="Add Student" >
                        </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>  
</body>       


                
{% comment %} <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Add Acadamics</h2>
  
                <form  method="POST">
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"  name="S_Name"/>
                    <label class="form-label" for="form3Example1cg">Your Name</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3cg" class="form-control form-control-lg" name="STD" />
                    <label class="form-label" for="form3Example3cg">Conform Name</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="number" id="form3Example4cg" class="form-control form-control-lg" name="S_Attendance" />
                    <label class="form-label" for="form3Example4cg">Addendance</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="number" id="form3Example4cdg" class="form-control form-control-lg" name="S_Percentage" />
                    <label class="form-label" for="form3Example4cdg">Percentage</label>
                  </div>
                  <div class="d-flex justify-content-center">
                      {% csrf_token %}
                      <a href="{% url 'home' %}"><button class="btn btn-success btn-block btn-lg  graadient-custom-4 text-body" type="button">Submit</button></a>
                      <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
  </section> 





{% endblock content %}




