{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body style="background-color:#0DCAF0">
<div class="mask d-flex align-items-center h-200 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100  ">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 7px; shadow-lg">
            <div class="card-body p-5 shadow-lg">
              <h3 class="text-center mb-5 display-6">Add Acadamics</h3>
                    <form  method="POST">
                        <h2 class="text-dark page-header text-center fw-normal"><i class="fa fa-user">&nbsp;</i>Registration</h2>
                        <br>
                        <h5 class="text-center fw-normal form-control mb-3">{{form|crispy}}</h5>
                        <br>
                        {% csrf_token %}
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <input class="btn btn-primary btn-md shadow-lg" type="submit" value="Add Student" >
                        </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>  
</body>       
{% endblock content %}




