{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

{% comment %} #_____# {% endcomment %}
<section class="h-100 h-custom" style="background-color:#0DCAF0;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3 shadow-lg">
            <img src="https://wallpaperaccess.com/full/6592904.jpg" class="img-fluid" alt="Sample image">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
  
              <form class="px-md-2" method="POST">
                  
                <div class="form-outline mb-4">
                  <input type="number" id="form3Example1q" class="form-control" name="S_Reg_No"/>
                  <label class="form-label" for="form3Example1q" >Reg No</label>
                </div>
                
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control" name="S_Name"/>
                    <label class="form-label" for="form3Example1q">Student Name</label>
                  </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline datepicker">
                      <input
                        type="date"
                        class="form-control"
                        id="exampleDatepicker1"
                        name="S_DOB"
                      />
                      <label for="exampleDatepicker1" class="form-label">Select a date</label>
                    </div>
  
                  </div>
                  
                  <div class="col-md-6 mb-4">

                    <input type="text" id="form3Example1q" class="form-control" name="S_Gender"/>
                    <label class="form-label" for="form3Example1q">Student Gender</label>
  
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                            <input type="text" id="form3Example1q" class="form-control" name="S_Yr"/>
                            <label class="form-label" for="form3Example1q">Student year</label>
          
                    </div>
                    <div class="col-md-6 mb-4">
                        <input type="text" id="form3Example1q" class="form-control" name="S_Dept"/>
                        <label class="form-label" for="form3Example1q">Student Department</label>
                    </div>
                </div>
  
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                  <div class="col-md-6">
  
                    <div class="form-outline">
                      <input type="number" id="form3Example1w" class="form-control"  name="S_Adhar_No"/>
                      <label class="form-label" for="form3Example1w">Adhar No</label>
                    </div>
  
                  </div>
                </div>
                {% csrf_token %}
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <input type="submit" class="btn btn-primary btn-lg shadow-lg" value="Submit">
                </div>
                
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

